/* Disinfo Links Section Styles */
.disinfo-links {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.disinfo-links p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.disinfo-links h2 {
    color: #1a1a2e;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.disinfo-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.disinfo-links ul li {
    background-color: #0f3460;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex: 0 0 auto;
    margin-bottom: 0.75rem;
}

.disinfo-links ul li a {
    display: block;
    padding: 0.75rem 1.5rem;
    color: #e94560;
    text-decoration: none;
    text-align: center;
    /* Center text within the button */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.disinfo-links ul li:hover {
    background-color: #16213e;
}

/* Resources Section Styles */
.resources-links {
    padding: 2rem;
    background-color: #fdfdfd;
    border: 1px solid #eee;
    margin: 0 auto 3rem;
    /* Consistent margin-bottom */
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resources-links img {
    margin-bottom: 1rem;
    align-self: flex-start;
}

.resources-links h2 {
    color: #1a1a2e;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.resources-links p {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.resources-links a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #e94560;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 1.2rem;
}

.resources-links a:hover {
    background-color: #16213e;
    transform: translateY(-5px);
}

/* Responsive design */
@media (max-width: 600px) {
    .disinfo-links ul {
        flex-direction: column;
        gap: 0.75rem;
    }

    .disinfo-links ul li a {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
    }

    .resources-links {
        margin-bottom: 1.5rem;
    }

    .disinfo-links {
        margin-bottom: 1.5rem;
    }

    .resources-links h2,
    .resources-links p {
        text-align: left;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: fit-content;
        margin: auto;
        width: 100%;
    }

    .resources-links {
        height: 85vh;
        align-items: flex-start;
        margin-bottom: 15vh;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr;

    }

    .resources-links h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #3498db;
    }

    .resources-links p {
        font-size: 1.5rem;
        padding: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
        text-align: left;
        border-left: 3px solid #16213e;
        border-right: 3px solid #16213e;
        border-radius: 8px;
        padding: 1.5rem;
    }

    .resources-links a {
        font-size: 1.5rem;
    }

    .disinfo-links {
        height: 85vh;
        align-items: flex-start;
        margin-bottom: 15vh;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 2rem;
    }

    .disinfo-links h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #3498db;
        width: fit-content;
    }

    .disinfo-links p {
        font-size: 1.5rem;
        max-width: 33%;
        margin-bottom: 3rem;
        text-align: left;
        border-left: 3px solid #16213e;
        border-right: 3px solid #16213e;
        border-radius: 8px;
        padding: 1.5rem;
    }

    .disinfo-links ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 50%;
    }
}